html {
    box-sizing: border-box;
}

*, *:before *:after {
    box-sizing: inherit;
}


h1 {
    font-size: 50px;
    text-align: center;
}

.container {
    border: 1px black solid;
}

#big-container {
    /* height: 600px; */
    margin: auto;
    margin-top: 50px;
    width: 80%;
    padding: 10px;
}

#horizontal-container {
    height: 400px;
    display: flex;
}

#vertical-container {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.block {
    border: 1px solid green;
    height: 100px;
    width: 100px;

}

#one {
    transition: width 1s, height 4s, transform 5s;
}
#one:hover{
    border-color: orange;
    height: 105px;
    width: 105px;
    transform: scale(2, 0.5);
}

#two {
    transform: translate(100%)  translateY(100%);
}
