header {
    border: 5px solid green;

}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

body div {
    border: 1px solid red;
    flex-grow: 1;
}

.header {
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    border: 1px solid purple;
}
.content {
    flex-grow: 10;
    display: flex;
}
.content-div {
    display: flex;
    flex-direction: column;
}
/* .content-div > * { */
/*     flex-grow: 1; */
/* } */
.five {
    display:flex;
}
.five div {
    flex-grow: 1;
    border: 1px solid green;
    justify-content: stretch;
}
.five img {
    width: auto;
    height: 200px;
}
.footer {
    flex-grow: 1;
}

.center {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.center.main {
    flex-grow: 10;
}
.center.main.player {
    display: flex;
    flex-direction: column;
}
.center.side {
    flex-grow: 1;
}
.center.main.middle {
    flex-grow: 3;
}
