html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.body-div {
    flex-grow: 1;
}
.body > * {
    flex-grow: 1;
}
header {
    border: 5px solid green;
}

footer {
    border: 5px solid orange;

}
.main {
    border: 5px solid lightblue;
    flex-grow: 8;
    display: flex;

}

.center-div{
    border: 1px solid red;
    flex-grow: 1;
}

.header {
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    border: 1px solid purple;
}
.content {
    /* display: flex; this makes it responsive */
}
.content-div {
    display: flex;
    flex-direction: column;
}
/* .content-div > * { */
/*     flex-grow: 1; */
/* } */
.five {
    display:flex;
}
.five > div {
    flex-grow: 1;
    border: 1px solid green;
    justify-content: stretch;
}
.five img {
    height: 140px;
    width: auto;
    border: 5px solid gold;
}
.player img:hover {
    border: 5px solid green;
}

.flipped {
    transform: scaleX(-1);
}

.footer {
    flex-grow: 1;
}

.center {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.center.main {
    flex-grow: 5;
}
.center.main.player,
.center.main.computer{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.center.side {
    flex-grow: 1;
}
.center.main.score {
    border: 1px solid red;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}
.scorebox {
    flex: 0;
    /* width: 200px; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid darkgreen;
}
.individual-scores {
    display: flex;
}
.score {
    display: flex;
    flex-direction: column;
    border: 1px solid hotpink;
}
.individual-scores > * {
    flex: 1 1 0px;
    width: 0;
    overflow: hidden;
}
